* {
    margin: 0;
    padding: 0;
}

@keyframes xxx {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


header {
    font-family: 'Comfortaa', cursive;
    height: 200px;
    background-color: black;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h2 {
    margin-top: 50px;
    color: rgb(70, 67, 255);
    font-size: 50px;
    font-style: italic;
}

.xBoxFile {
    display: flex;
    justify-content: center;
}

.xBoxFile div {
    margin: 10px;
}

header h1 {
    color: rgb(45, 42, 255);
    font-size: 130px;
    animation: xxx 4s linear infinite;
}
body {
    background-color: rgb(3, 133, 255);
    margin: 0px;
}


.zone {
    overflow: scroll;
    white-space: nowrap;
    background-color: white;
    border: 10px double blue;
    width: 500px;
    height: 400px;
    margin: 180px auto;
    padding-left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#fileBox {
    color: white;
    width: 160px;
    height: 40px;
    margin: 30px;
    background-color: black;
    border-radius: 50px;
}

#delBox, #create {
    color: rgb(5, 1, 223);
    width: 80px;
    height: 20px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}